<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="baidu-site-verification" content="CztRHbrcgh" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="惠农,豫农,河南农产品,农产品滞销,蔬菜滞销,移动互联网,农业服务,河南农业,">
    <meta name="keywords" content="河南电子商务,河南惠农网设计">
    <link rel="shortcut icon" href="/img/icon.ico">
    <link rel="bookmark" href="/img/icon.ico">
    <title>河南惠农网</title>
    <script src="js/resize.js"></script>
    <link href="/css/gongying.css" rel="stylesheet" type="text/css">
    <link href="/css/com.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="contian-wrapper">
    <div class="contian search-contain">
        <div class="search-header top-bg">
            <div class="search-header-top top-bg">
                <i><a href="javascript:void(0)" onclick="history.go(-1)" class="search-header-top-back"></a></i>
                <span id="colorTitle">供应大厅</span>
            </div>
        </div>
        <div class="search-body">
            <div class="qgdt-search bg-search-l">
                <span class="qgdt-search-text bg-search-s">
                    <img  src="/img/search_05.png" class="qgdt-search-img" alt="">
                    <input type="search" class="qgdt-search-text-2" placeholder="输入商品名称">
                </span>
            </div>
            <div class="serch-body-nav">
                <span>蔬菜</span>
                <span class="serch-body-nav-sp">水果</span>
                <span class="serch-body-nav-sp">家禽</span>
                <span class="serch-body-nav-sp">水产</span>
            </div>

            <div class="home-body-gongying-body">
                <% for (var i = 0; i < seller_all.length; i++){ %>
                <div class="home-body-gongying-body-list home-body-gongying-body-1">
                    <a href="gongyingxiangqing?tel=<%= seller_all[i].tel %>&number=<%= seller_all[i].number %>">
                        <img src="<%= seller_all[i].pics[0] %>" class="home-body-gongying-body-list-img sel-goods">
                    </a>
                    <div class="home-body-gongying-body-list-wrapper">
                        <a href="gongyingxiangqing?tel=<%= seller_all[i].tel %>&number=<%= seller_all[i].number %>">
                            <h1 class="home-body-gongying-body-list-wrapper-title"><%= seller_all[i].seller_desc%></h1>
                        </a>
                        <a href="gongyingxiangqing?tel=<%= seller_all[i].tel %>&number=<%= seller_all[i].number %>">
                            <p class="home-body-gongying-body-list-wrapper-price"><%= seller_all[i].seller_price %>
                                <span class="home-body-gongying-body-list-wrapper-weight"><%= seller_all[i].seller_weight %></span>
                            </p>
                        </a>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        <div class="home-footer">
            <div class="home-footer-bottom home">
                <a href="/">
                    <i class="home-footer-bottom-1"></i>
                    <p>首页</p>
                </a>
            </div>
            <div class="home-footer-bottom qiugou">
                <a href="/qiugoudating">
                    <i class="home-footer-bottom-2"></i>
                    <p>求购大厅</p>
                </a>
            </div>
            <div class="home-footer-bottom gongying">
                <a href="/gongyingdating">
                    <i class="home-footer-bottom-3" id="active"></i>
                    <p id="fontColor">供应大厅</p>
                </a>
            </div>
            <div class="home-footer-bottom my">
                <a href="/judge_login">
                    <i class="home-footer-bottom-4"></i>
                    <p>个人中心</p>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/baidu.js"></script>
</html>
