<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="baidu-site-verification" content="CztRHbrcgh" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="惠农,豫农,河南农产品,农产品滞销,蔬菜滞销,移动互联网,农业服务,河南农业,">
    <meta name="keywords" content="河南电子商务,河南惠农网设计">
    <link rel="shortcut icon" href="/img/icon.ico">
    <link rel="bookmark" href="/img/icon.ico">
    <title>河南惠农网</title>
    <script src="js/resize.js"></script>
    <script src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/swiper-3.4.2.min.css">
    <link href="/css/com.css" rel="stylesheet" type="text/css">
    <script src="js/swiper-3.4.2.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="/js/baidu.js"></script>
</head>
<body>
<div class="contian-wrapper">
    <div class="guide-welcome">
        <img src="/img/wel-logo_01.png" alt="">
    </div>
    <div class="contian">
        <div class="home-header">
            <div class="home-header-top top-bg">
                <span>豫农管家</span>
            </div>
            <div class="home-header-search">
                <div class="home-header-search-input">
                    <input type="search" class="home-header-search-input-text input-search" placeholder="搜索农产品，如：红富士苹果">
                    <img src="/img/search_04.png" alt="" class="input-search-2">
                </div>
            </div>
            <div class="home-header-banner">
                <div class="swiper-container swiper-container-banner">
                    <div class="swiper-wrapper swiper-wrapper-banner ">
                        <div class="swiper-slide swiper-slide-banner swiper-slide-1"></div>
                        <div class="swiper-slide swiper-slide-banner swiper-slide-2"></div>
                        <div class="swiper-slide swiper-slide-banner swiper-slide-3"></div>
                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="home-header-submit">
                <img src="/img/new-ban_02.png" alt="" class="img-new">
                <span class="new-title">
                    <div class="swiper-container-topic">
                        <div class="swiper-wrapper">
                             <div class="swiper-slide swiper-slide-topic">
                                <div class="nav-div">
                                    <p class="nav-div-p nav-div-1">
                                    </p>
                                    <p class="nav-div-p nav-div-2">
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-topic">
                                 <div class="nav-div">
                                   <p class="nav-div-p nav-div-1">
                                    </p>
                                    <p class="nav-div-p nav-div-2">
                                    </p>
                                </div>
                             </div>
                            <div class="swiper-slide swiper-slide-topic">
                                <div class="nav-div">
                                    <p class="nav-div-p nav-div-1">
                                    </p>
                                    <p class="nav-div-p nav-div-2">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
        <div class="home-body">
            <div class="home-body-gongying">
                <div class="home-body-gongying-top">
                    <a href="" class="home-body-gongying-top-left">
                        <span class="home-body-gongying-top-font home-body-gongying-top-font-1">供应大厅</span>
                    </a>
                    <a href="/gongyingdating" class="home-body-gongying-top-right">
                        <span class="home-body-gongying-top-font home-body-gongying-top-font-1-1 home-body-gongying-top-font-2">更多</span>
                    </a>
                </div>
                <div class="home-body-gongying-select select-seller">
                    <span class="select   be-select-2-span" id="home-body-gongying-select-1">
                        <b class="select-1 be-select-2-img"></b>
                        <p class="p1 be-select-2-p" id="p1">全部</p>
                    </span>
                    <span class="select">
                        <b class="select-1"></b>
                        <p class="p2">水果</p>
                    </span>
                    <span class="select  home-body-gongying-select-3-2">
                        <b class="select-1"></b>
                        <p class="p3">蔬菜</p>
                    </span>
                    <span class="select home-body-gongying-select-4-2">
                        <b class="select-1"></b>
                        <p class="p4">禽畜</p>
                    </span>
                    <span class="select  home-body-gongying-select-5-2">
                        <b class="select-1"></b>
                        <p class="p5">水产</p>
                    </span>
                </div>
                <div class="home-body-gongying-body a-1">
                    <% for (var i = 0; i < 4; i++){ %>
                    <div class="home-body-gongying-body-list home-body-gongying-body-1">
                        <a href="gongyingxiangqing?tel=<%= seller_all[i].tel %>&number=<%= seller_all[i].number %>">
                            <img src="<%= seller_all[i].pics[0] %>" class="home-body-gongying-body-list-img sel-goods">
                        </a>
                        <div class="home-body-gongying-body-list-wrapper">
                            <a href="gongyingxiangqing?tel=<%= seller_all[i].tel %>&number=<%= seller_all[i].number %>">
                                <h1 class="home-body-gongying-body-list-wrapper-title"><%= seller_all[i].seller_desc %></h1>
                            </a>
                            <a href="gongyingxiangqing?tel=<%= seller_all[i].tel %>&number=<%= seller_all[i].number %>">
                                <p class="home-body-gongying-body-list-wrapper-price"><%= seller_all[i].seller_price %>
                                    <span class="home-body-gongying-body-list-wrapper-weight">&ensp;&ensp;<%= seller_all[i].seller_weight %></span>
                                </p>
                            </a>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="home-body-qiugou">
                <div class="home-body-gongying-top">
                    <a href="" class="home-body-gongying-top-left">
                        <span class="home-body-gongying-top-font home-body-gongying-top-font-1">求购大厅</span>
                    </a>
                    <a href="/qiugoudating" class="home-body-gongying-top-right">
                        <span class="home-body-gongying-top-font home-body-gongying-top-font-1-1 home-body-gongying-top-font-2">更多</span>
                    </a>
                </div>
                <div class="home-body-gongying-select select-get">
                    <span class="select-2  be-select-2-span-2" id="home-body-gongying-select-1">
                        <b class="select-1 be-select-2-img-2"></b>
                        <p class="p1 be-select-2-p-2" id="p1">全部</p>
                    </span>
                    <span class="select-2 ">
                        <b class="select-1"></b>
                        <p class="p2">水果</p>
                    </span>
                    <span class="select-2  home-body-gongying-select-3-2">
                        <b class="select-1"></b>
                        <p class="p3">蔬菜</p>
                    </span>
                    <span class="select-2 home-body-gongying-select-4-2">
                        <b class="select-1"></b>
                        <p class="p4">禽畜</p>
                    </span>
                    <span class="select-2  home-body-gongying-select-5-2">
                        <b class="select-1"></b>
                        <p class="p5">水产</p>
                    </span>
                </div>
                <div class="home-body-gongying-body a-2">
                    <% for (var i = 0; i < 4; i++){ %>
                    <a href="/qiugouxiangqing?tel=<%= get_all[i].tel %>&number=<%= get_all[i].number %>">
                        <div class="home-body-qiugou-body-list ">
                            <div class="home-body-qiugou-body-list-wrapper">
                                <h1 class="home-body-qiugou-body-list-wrapper-title"><%= get_all[i].get_name %>
                                </h1>
                                <p class="home-body-qiugou-body-list-wrapper-weight"><%= get_all[i].get_weight %>
                                </p>
                                <p class="home-body-qiugou-body-list-wrapper-price">价格：<%= get_all[i].get_price %></p>
                                <p class="home-body-qiugou-body-list-wrapper-price">
                                    指定产地：<%= get_all[i].get_site.city %></p>
                            </div>
                        </div>
                    </a>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="home-footer">
            <div class="home-footer-bottom home">
                <a href="/">
                    <i class="home-footer-bottom-1"></i>
                    <p id="fontColor">首页</p>
                </a>
            </div>
            <div class="home-footer-bottom qiugou">
                <a href="/qiugoudating">
                    <i class="home-footer-bottom-2"></i>
                    <p>求购大厅</p>
                </a>
            </div>
            <div class="home-footer-bottom gongying">
                <a href="/gongyingdating">
                    <i class="home-footer-bottom-3"></i>
                    <p>供应大厅</p>
                </a>
            </div>
            <div class="home-footer-bottom my">
                <a href="/judge_login">
                    <i class="home-footer-bottom-4"></i>
                    <p>个人中心</p>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        var obj = $.cookie("isFirst");
        if (!obj) {
            /*不存在*/
            $.cookie("isFirst", "1");
            $(".guide-welcome").css("display", "block")
            setTimeout(function () {
                $(".guide-welcome").fadeOut(2000);
            }, 2000)
        } else {
            $.cookie("isFirst", "1");
        }
        var mySwiper = new Swiper('.swiper-container', {
            autoplay: 5000,
            loop: true,
            pagination: '.swiper-pagination'
        });

        var mySwiper = new Swiper('.swiper-container-topic', {
            autoplay: 3000,
            loop: true,
            direction: 'vertical'
        });
        /*选择框-默认选择全部*/
        $(".be-select-2-span").css("backgroundImage", "url(/img/bg-index-_03.png)");
        $(".be-select-2-img").css("backgroundImage", "url(/img/index-2-1.png)");
        $(".be-select-2-p").css("color", "#ffffff");
        $(".be-select-2-span-2").css("backgroundImage", "url(/img/bg-index-_03.png)");
        $(".be-select-2-img-2").css("backgroundImage", "url(/img/index-2-1.png)");
        $(".be-select-2-p-2").css("color", "#ffffff");
    })
</script>
<script type="text/template" id="template-1-1">
    <% for (var i = 0; i < seller_all.length; i++ ){ %>
    <% if(seller_all[i].type == 2){ %>
    <div class="home-body-gongying-body-list home-body-gongying-body-1">
        <a href="gongyingxiangqing?tel=<%= seller_all[i].tel %>&number=<%= seller_all[i].number %>">
            <img src="<%= seller_all[i].pics[0] %>" class="home-body-gongying-body-list-img sel-goods">
        </a>
        <div class="home-body-gongying-body-list-wrapper">
            <a href="gongyingxiangqing?tel=<%= seller_all[i].tel %>&number=<%= seller_all[i].number %>">
                <h1 class="home-body-gongying-body-list-wrapper-title"><%= seller_all[i].seller_desc %></h1>
            </a>
            <a href="gongyingxiangqing?tel=<%= seller_all[i].tel %>&number=<%= seller_all[i].number %>">
                <p class="home-body-gongying-body-list-wrapper-price"><%= seller_all[i].seller_price %>
                    <span class="home-body-gongying-body-list-wrapper-weight">&ensp;&ensp;<%= seller_all[i].seller_weight %></span>
                </p>
            </a>
        </div>
    </div>
    <% }else{
        continue
    }
    } %>
</script>
<script type="text/template" id="template-1-2">
    <% for (var i = 0; i < seller_all.length; i++ ){ %>
    <% if(seller_all[i].type == 1){ %>
    <div class="home-body-gongying-body-list home-body-gongying-body-1">
        <a href="gongyingxiangqing?tel=<%= seller_all[i].tel %>&number=<%= seller_all[i].number %>">
            <img src="<%= seller_all[i].pics[0] %>" class="home-body-gongying-body-list-img sel-goods">
        </a>
        <div class="home-body-gongying-body-list-wrapper">
            <a href="gongyingxiangqing?tel=<%= seller_all[i].tel %>&number=<%= seller_all[i].number %>">
                <h1 class="home-body-gongying-body-list-wrapper-title"><%= seller_all[i].seller_desc %></h1>
            </a>
            <a href="gongyingxiangqing?tel=<%= seller_all[i].tel %>&number=<%= seller_all[i].number %>">
                <p class="home-body-gongying-body-list-wrapper-price"><%= seller_all[i].seller_price %>
                    <span class="home-body-gongying-body-list-wrapper-weight">&ensp;&ensp;<%= seller_all[i].seller_weight %></span>
                </p>
            </a>
        </div>
    </div>
    <% }else{
        continue
    }
    } %>
</script>
<script type="text/template" id="template-1-3">
    <% for (var i = 0; i < seller_all.length; i++ ){ %>
    <% if(seller_all[i].type == 3){ %>
    <div class="home-body-gongying-body-list home-body-gongying-body-1">
        <a href="gongyingxiangqing?tel=<%= seller_all[i].tel %>&number=<%= seller_all[i].number %>">
            <img src="<%= seller_all[i].pics[0] %>" class="home-body-gongying-body-list-img sel-goods">
        </a>
        <div class="home-body-gongying-body-list-wrapper">
            <a href="gongyingxiangqing?tel=<%= seller_all[i].tel %>&number=<%= seller_all[i].number %>">
                <h1 class="home-body-gongying-body-list-wrapper-title"><%= seller_all[i].seller_desc %></h1>
            </a>
            <a href="gongyingxiangqing?tel=<%= seller_all[i].tel %>&number=<%= seller_all[i].number %>">
                <p class="home-body-gongying-body-list-wrapper-price"><%= seller_all[i].seller_price %>
                    <span class="home-body-gongying-body-list-wrapper-weight">&ensp;&ensp;<%= seller_all[i].seller_weight %></span>
                </p>
            </a>
        </div>
    </div>
    <% }else{
        continue
    }
    } %>
</script>
<script type="text/template" id="template-1-4">
    <% for (var i = 0; i < seller_all.length; i++ ){ %>
    <% if(seller_all[i].type == 4){ %>
    <div class="home-body-gongying-body-list home-body-gongying-body-1">
        <a href="gongyingxiangqing?tel=<%= seller_all[i].tel %>&number=<%= seller_all[i].number %>">
            <img src="<%= seller_all[i].pics[0] %>" class="home-body-gongying-body-list-img sel-goods">
        </a>
        <div class="home-body-gongying-body-list-wrapper">
            <a href="gongyingxiangqing?tel=<%= seller_all[i].tel %>&number=<%= seller_all[i].number %>">
                <h1 class="home-body-gongying-body-list-wrapper-title"><%= seller_all[i].seller_desc %></h1>
            </a>
            <a href="gongyingxiangqing?tel=<%= seller_all[i].tel %>&number=<%= seller_all[i].number %>">
                <p class="home-body-gongying-body-list-wrapper-price"><%= seller_all[i].seller_price %>
                    <span class="home-body-gongying-body-list-wrapper-weight">&ensp;&ensp;<%= seller_all[i].seller_weight %></span>
                </p>
            </a>
        </div>
    </div>
    <% }else{
        continue
    }
    } %>
</script>
<script type="text/template" id="template-2-1">
    <% for (var i = 0; i < get_all.length; i++ ){ %>
    <% if(get_all[i].type == 2){ %>
    <a href="/qiugouxiangqing?tel=<%= get_all[i].tel %>&number=<%= get_all[i].number %>">
        <div class="home-body-qiugou-body-list ">
            <div class="home-body-qiugou-body-list-wrapper">
                <h1 class="home-body-qiugou-body-list-wrapper-title"><%= get_all[i].get_name %>
                </h1>
                <p class="home-body-qiugou-body-list-wrapper-weight"><%= get_all[i].get_weight %>
                </p>
                <p class="home-body-qiugou-body-list-wrapper-price">价格：<%= get_all[i].get_price %></p>
                <p class="home-body-qiugou-body-list-wrapper-price">
                    指定产地：<%= get_all[i].get_site.city %></p>
            </div>
        </div>
    </a>
    <% }else{
        continue
    }
    } %>
</script>
<script type="text/template" id="template-2-2">
    <% for (var i = 0; i < get_all.length; i++ ){ %>
    <% if(get_all[i].type == 1){ %>
    <a href="/qiugouxiangqing?tel=<%= get_all[i].tel %>&number=<%= get_all[i].number %>">
        <div class="home-body-qiugou-body-list ">
            <div class="home-body-qiugou-body-list-wrapper">
                <h1 class="home-body-qiugou-body-list-wrapper-title"><%= get_all[i].get_name %>
                </h1>
                <p class="home-body-qiugou-body-list-wrapper-weight"><%= get_all[i].get_weight %>
                </p>
                <p class="home-body-qiugou-body-list-wrapper-price">价格：<%= get_all[i].get_price %></p>
                <p class="home-body-qiugou-body-list-wrapper-price">
                    指定产地：<%= get_all[i].get_site.city %></p>
            </div>
        </div>
    </a>
    <% }else{
        continue
    }
    } %>
</script>
<script type="text/template" id="template-2-3">
    <% for (var i = 0; i < get_all.length; i++ ){ %>
    <% if(get_all[i].type == 3){ %>
    <a href="/qiugouxiangqing?tel=<%= get_all[i].tel %>&number=<%= get_all[i].number %>">
        <div class="home-body-qiugou-body-list ">
            <div class="home-body-qiugou-body-list-wrapper">
                <h1 class="home-body-qiugou-body-list-wrapper-title"><%= get_all[i].get_name %>
                </h1>
                <p class="home-body-qiugou-body-list-wrapper-weight"><%= get_all[i].get_weight %>
                </p>
                <p class="home-body-qiugou-body-list-wrapper-price">价格：<%= get_all[i].get_price %></p>
                <p class="home-body-qiugou-body-list-wrapper-price">
                    指定产地：<%= get_all[i].get_site.city %></p>
            </div>
        </div>
    </a>
    <% }else{
        continue
    }
    } %>
</script>
<script type="text/template" id="template-2-4">
    <% for (var i = 0; i < get_all.length; i++ ){ %>
    <% if(get_all[i].type == 4){ %>
    <a href="/qiugouxiangqing?tel=<%= get_all[i].tel %>&number=<%= get_all[i].number %>">
        <div class="home-body-qiugou-body-list ">
            <div class="home-body-qiugou-body-list-wrapper">
                <h1 class="home-body-qiugou-body-list-wrapper-title"><%= get_all[i].get_name %>
                </h1>
                <p class="home-body-qiugou-body-list-wrapper-weight"><%= get_all[i].get_weight %>
                </p>
                <p class="home-body-qiugou-body-list-wrapper-price">价格：<%= get_all[i].get_price %></p>
                <p class="home-body-qiugou-body-list-wrapper-price">
                    指定产地：<%= get_all[i].get_site.city %></p>
            </div>
        </div>
    </a>
    <% }else{
        continue
    }
    } %>
</script>
<script>
    function deletLength1() {
        var a = $(".home-body-gongying-body-1").length;
        console.log(a);
        if (a > 4) {
            for (var i = 5; i < a + 1; i++) {
                $(".home-body-gongying-body-1:nth-child(" + i + ")").css("display", "none");
            }
        }
    }
    function deletLength2() {
        var a = $(".a-2 a").length;
        console.log(a);
        if (a > 4) {
            for (var i = 5; i < a + 1; i++) {
                $(".a-2 a:nth-child(" + i + ")").css("display", "none");
            }
        }
    }
    var DomobjAll = $(".a-1").html();
    $(".select-seller span:nth-child(1)").click(function () {
        $(".a-1").empty().append(DomobjAll);
        $(".select-seller span:not(.select-seller span:nth-child(1))").css("backgroundImage", "url(/img/bg-index-_05.png)");
        $(this).css("backgroundImage", "url(/img/bg-index-_03.png)");
        $(".select-seller span:nth-child(1) p").css("color", "#fff")
        $(".select-seller span:nth-child(1) b").css("backgroundImage", "url(/img/index-2-1.png)")
        $(".select-seller span:nth-child(2) b").css("backgroundImage", "url(/img/index-1-2.png)")
        $(".select-seller span:nth-child(3) b").css("backgroundImage", "url(/img/index-1-3.png)")
        $(".select-seller span:nth-child(4) b").css("backgroundImage", "url(/img/index-1-4.png)")
        $(".select-seller span:nth-child(5) b").css("backgroundImage", "url(/img/index-1-5.png)")
        deletLength1();
    });
    $(".select-seller span:nth-child(2)").click(function () {
        $(".a-1").empty().append($("#template-1-1").html());
        $(".select-seller span:not(.select-seller span:nth-child(2))").css("backgroundImage", "url(/img/bg-index-_05.png)");
        $(this).css("backgroundImage", "url(/img/bg-index-_03.png)");
        $(".select-seller span:nth-child(1) p").css("color", "#333333")
        $(".select-seller span:nth-child(1) b").css("backgroundImage", "url(/img/index-1-1.png)")
        $(".select-seller span:nth-child(2) b").css("backgroundImage", "url(/img/index-2-2.png)");
        $(".select-seller span:nth-child(3) b").css("backgroundImage", "url(/img/index-1-3.png)")
        $(".select-seller span:nth-child(4) b").css("backgroundImage", "url(/img/index-1-4.png)")
        $(".select-seller span:nth-child(5) b").css("backgroundImage", "url(/img/index-1-5.png)")
        deletLength1();
    });

    $(".select-seller span:nth-child(3)").click(function () {
        $(".a-1").empty().append($("#template-1-2").html());
        $(".select-seller span:not(.select-seller span:nth-child(3))").css("backgroundImage", "url(/img/bg-index-_05.png)");
        $(this).css("backgroundImage", "url(/img/bg-index-_03.png)");
        $(".select-seller span:nth-child(1) p").css("color", "#333333")
        $(".select-seller span:nth-child(1) b").css("backgroundImage", "url(/img/index-1-1.png)")
        $(".select-seller span:nth-child(2) b").css("backgroundImage", "url(/img/index-1-2.png)")
        $(".select-seller span:nth-child(3) b").css("backgroundImage", "url(/img/index-2-3.png)");
        $(".select-seller span:nth-child(4) b").css("backgroundImage", "url(/img/index-1-4.png)")
        $(".select-seller span:nth-child(5) b").css("backgroundImage", "url(/img/index-1-5.png)")
        deletLength1();
    });
    $(".select-seller span:nth-child(4)").click(function () {
        $(".a-1").empty().append($("#template-1-3").html());
        $(".select-seller span:not(.select-seller span:nth-child(4))").css("backgroundImage", "url(/img/bg-index-_05.png)");
        $(this).css("backgroundImage", "url(/img/bg-index-_03.png)");
        $(".select-seller span:nth-child(1) p").css("color", "#333333")
        $(".select-seller span:nth-child(1) b").css("backgroundImage", "url(/img/index-1-1.png)")
        $(".select-seller span:nth-child(2) b").css("backgroundImage", "url(/img/index-1-2.png)")
        $(".select-seller span:nth-child(3) b").css("backgroundImage", "url(/img/index-1-3.png)")
        $(".select-seller span:nth-child(4) b").css("backgroundImage", "url(/img/index-2-4.png)");
        $(".select-seller span:nth-child(5) b").css("backgroundImage", "url(/img/index-1-5.png)")
        deletLength1();
    });
    $(".select-seller span:nth-child(5)").click(function () {
        $(".a-1").empty().append($("#template-1-4").html());
        $(".select-seller span:not(.select-seller span:nth-child(5))").css("backgroundImage", "url(/img/bg-index-_05.png)");
        $(this).css("backgroundImage", "url(/img/bg-index-_03.png)");
        $(".select-seller span:nth-child(1) p").css("color", "#333333")
        $(".select-seller span:nth-child(1) b").css("backgroundImage", "url(/img/index-1-1.png)");
        $(".select-seller span:nth-child(2) b").css("backgroundImage", "url(/img/index-1-2.png)");
        $(".select-seller span:nth-child(3) b").css("backgroundImage", "url(/img/index-1-3.png)");
        $(".select-seller span:nth-child(4) b").css("backgroundImage", "url(/img/index-1-4.png)");
        $(".select-seller span:nth-child(5) b").css("backgroundImage", "url(/img/index-2-5.png)");
        deletLength1();
    });


    var DomobjAll2 = $(".a-2").html();
    $(".select-get span:nth-child(1)").click(function () {
        $(".a-2").empty().append(DomobjAll2);
        $(".select-get span").css("backgroundImage", "url(/img/bg-index-_05.png)");
        $(this).css("backgroundImage", "url(/img/bg-index-_03.png)");
        $(".select-get span:nth-child(1) p").css("color", "#fff")
        $(".select-get span:nth-child(1) b").css("backgroundImage", "url(/img/index-2-1.png)")
        $(".select-get span:nth-child(2) b").css("backgroundImage", "url(/img/index-1-2.png)")
        $(".select-get span:nth-child(3) b").css("backgroundImage", "url(/img/index-1-3.png)")
        $(".select-get span:nth-child(4) b").css("backgroundImage", "url(/img/index-1-4.png)")
        $(".select-get span:nth-child(5) b").css("backgroundImage", "url(/img/index-1-5.png)")
        deletLength2();
    });
    $(".select-get span:nth-child(2)").click(function () {
        $(".a-2").empty().append($("#template-2-1").html());
        $(".select-get span").css("backgroundImage", "url(/img/bg-index-_05.png)");
        $(this).css("backgroundImage", "url(/img/bg-index-_03.png)");
        $(".select-get span:nth-child(1) p").css("color", "#333333")
        $(".select-get span:nth-child(1) b").css("backgroundImage", "url(/img/index-1-1.png)")
        $(".select-get span:nth-child(2) b").css("backgroundImage", "url(/img/index-2-2.png)")
        $(".select-get span:nth-child(3) b").css("backgroundImage", "url(/img/index-1-3.png)")
        $(".select-get span:nth-child(4) b").css("backgroundImage", "url(/img/index-1-4.png)")
        $(".select-get span:nth-child(5) b").css("backgroundImage", "url(/img/index-1-5.png)")
        deletLength2();
    });
    $(".select-get span:nth-child(3)").click(function () {
        $(".a-2").empty().append($("#template-2-2").html());
        $(".select-get span").css("backgroundImage", "url(/img/bg-index-_05.png)");
        $(this).css("backgroundImage", "url(/img/bg-index-_03.png)");
        $(".select-get span:nth-child(1) p").css("color", "#333333")
        $(".select-get span:nth-child(1) b").css("backgroundImage", "url(/img/index-1-1.png)")
        $(".select-get span:nth-child(2) b").css("backgroundImage", "url(/img/index-1-2.png)")
        $(".select-get span:nth-child(3) b").css("backgroundImage", "url(/img/index-2-3.png)")
        $(".select-get span:nth-child(4) b").css("backgroundImage", "url(/img/index-1-4.png)")
        $(".select-get span:nth-child(5) b").css("backgroundImage", "url(/img/index-1-5.png)")
        deletLength2();
    });
    $(".select-get span:nth-child(4)").click(function () {
        $(".a-2").empty().append($("#template-2-3").html());
        $(".select-get span").css("backgroundImage", "url(/img/bg-index-_05.png)");
        $(this).css("backgroundImage", "url(/img/bg-index-_03.png)");
        $(".select-get span:nth-child(1) p").css("color", "#333333")
        $(".select-get span:nth-child(1) b").css("backgroundImage", "url(/img/index-1-1.png)")
        $(".select-get span:nth-child(2) b").css("backgroundImage", "url(/img/index-1-2.png)")
        $(".select-get span:nth-child(3) b").css("backgroundImage", "url(/img/index-1-3.png)")
        $(".select-get span:nth-child(4) b").css("backgroundImage", "url(/img/index-2-4.png)")
        $(".select-get span:nth-child(5) b").css("backgroundImage", "url(/img/index-1-5.png)")
        deletLength2();
    });
    $(".select-get span:nth-child(5)").click(function () {
        $(".a-2").empty().append($("#template-2-4").html());
        $(".select-get span").css("backgroundImage", "url(/img/bg-index-_05.png)");
        $(this).css("backgroundImage", "url(/img/bg-index-_03.png)");
        $(".select-get span:nth-child(1) p").css("color", "#333333")
        $(".select-get span:nth-child(1) b").css("backgroundImage", "url(/img/index-1-1.png)")
        $(".select-get span:nth-child(2) b").css("backgroundImage", "url(/img/index-1-2.png)")
        $(".select-get span:nth-child(3) b").css("backgroundImage", "url(/img/index-1-3.png)")
        $(".select-get span:nth-child(4) b").css("backgroundImage", "url(/img/index-1-4.png)")
        $(".select-get span:nth-child(5) b").css("backgroundImage", "url(/img/index-2-5.png)")
        deletLength2();
    });
</script>
</html>
