<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Title</title>
    <script src="/js/resize.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-weight: normal;
            list-style: none;
            font-family: 微软雅黑;
            text-decoration: none;
            box-sizing: border-box;
        }

        body {
            background: #f3f3f4;
        }

        .contian-wrapper {
            width: 100%;
        }

        .contian {
            width: 7.5rem;
            margin: 0 auto;
        }

        .qiugouxinagqing-header {
            width: inherit;
            padding-top: 1.3rem;
        }

        .qiugouxinagqing-header-top {
            position: fixed;
            top: 0;
            z-index: 30;
            width: inherit;
            height: 1.3rem;
            border-bottom: 0.01rem solid #c1c1c1;
            text-align: center;
            background: #ededed;
        }

        .qiugouxinagqing-header-top-back {
            display: inline-block;
            width: 100%;
            height: 100%;
        }

        .qiugouxinagqing-header-top i {
            display: inline-block;
            position: absolute;
            top: 0.64rem;
            left: 0.32rem;
            width: 0.23rem;
            height: 0.41rem;
            font-size: 0;
            cursor: pointer;
            background: url("/img/back_03.png") no-repeat;
            background-size: contain;
        }

        .qiugouxinagqing-header-top span {
            width: inherit;
            height: inherit;
            font-size: 0.36rem;
            color: #333333;
            text-align: center;
            vertical-align: middle;
        }

        .qiugouxinagqing-contain {
            /*height:100vh;*/
        }

        .qiugouxinagqing-body {
            width: 100%;
        }

        /*.qiugouxinagqing-tel {*/
        /*width: 100%;*/
        /*!*height: 0.8rem;*!*/
        /*font-size: 0;*/
        /*border-radius: 0.05rem;*/
        /*padding: 1rem 0 2rem 0;*/

        /*}*/

        .qiugouxinagqing-tel {
            display: inline-block;
            width: 5.9rem;
            height: 0.8rem;
            outline: none;
            border: none;
            margin: 1rem 0.6rem 0 0.6rem;
            font-size: 0.3rem;
            line-height: 0.8rem;
            text-align: center;
            color: #ffffff;
            background: #59bb43;
            border-radius: 0.1rem;
        }

        /*编辑*/
        .qiugouxinagqing-body-top {
            width: inherit;
            height: 1.15rem;
            padding-left: 0.2rem;
            padding-right: 0.2rem;
            padding-top: 0.25rem;
            margin-bottom: 0.85rem;
            font-size: 0;
            background: #ffffff;
        }

        .qiugouxinagqing-body-top span {
            display: inline-block;
            width: 1.25rem;
            height: 0.9rem;
            font-size: 0.22rem;
            vertical-align: top;
            color: #ff0000;

        }

        .qiugouxinagqing-body-top p {
            display: inline-block;
            width: 5.45rem;
            font-size: 0.22rem;
            color: #777777;
        }

        .contian-info-body {
            font-size: 0;
            /*padding-bottom: 0.35rem;*/
        }

        /*#chanpin-info-title-right-p-1{*/
        /*margin-top: 0;*/
        /*}*/
        .contian-info-body p {
            padding: 0 0.3rem;
            padding-top: 0.35rem;
        }

        .contian-info-body p span {
            font-size: 0.3rem;
            color: #777777;
        }

        .contian-info-body-title-1 {
            display: inline-block;
            width: 2rem;
        }

        /*.qgxq-desc {*/
        /*font-size: 0.28rem;*/
        /*color: #777777;*/
        /*}*/

        .qgxq-btn {
            padding: 0.4rem 0.3rem 0 0.3rem;
            width: 100%;
            height: 1.3rem;
        }

        .qgxq-button {
            display: inline-block;
            width: 1.55rem;
            height: 0.5rem;
            line-height: 0.5rem;
            font-size: 0;
            border: 0.01rem solid #59bb43;
            border-radius: 0.02rem;
            float: left;
        }

        .qgxq-button a {
            display: inline-block;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 0.24rem;
        }

        .qgxq—de a {
            color: #ffffff;
        }

        .qgxq—de {
            background: #59bb43;
            margin-right: 0.5rem;
            float: right;
        }

        .qgxq-set a {
            color: #59bb43;
        }

        .qgxq-set {
            background: #ffffff;
            margin-right: 0.3rem;
            float: right;
        }

        .contian-info-body-title-1-desc {
            display: block;
            color: #777777;
            padding-left: 0.3rem;
            font-size: 0.3rem;
            padding-top: 0.35rem;
        }

        .bianji-bg {
            background: #ffffff;
        }

        .bianji-des-wrapper {
            padding-bottom: 0.35rem;
            font-size: 0;
        }

        .contian-info-body-info-1 {
            outline: none;
            border: none;
            font-size: 0.3rem;
            color: #777777;
        }

        .qgxq-desc {
            width: 6.9rem;
            height: 2rem;
            margin: 0.3rem 0.3rem 0 0.3rem;
            outline: none;
            font-size: 0.28rem;
            color: #777777;
            resize: none;
        }

        #shengyu {
            color: #777777;
            font-size: 0.3rem;
            padding: 0 0 0 0.3rem;
        }

        .hidden {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -100;
            opacity: 0;
        }

        /*图片上传*/
        .ajax-photoseller {
            width: inherit;
            height: 3rem;
            padding: 0 0.3rem;
        }

        .photo {
            position: relative;
            display: inline-block;
            width: 2rem;
            height: 2rem;
            border: 1px solid #777777;
            overflow: hidden;
        }

        .photo-1 {
            margin-left: 0.1rem;
            margin-right: 0.35rem;
        }

        .photo-3 {
            margin-left: 0.35rem;
            margin-right: 0.1rem;
        }

        .photo-file {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            border: none;
            outline: none;
            margin-top: -0.5rem;
            width: inherit;
            height: inherit;
            overflow: hidden;
        }

        .photo img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9;
            width: inherit;
            height: inherit;
        }

        /*图片上传==插件*/
        /*图片上传*/
        .upload {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            /*background: #494A5F;*/
            height: 100vh;
            /*opacity: 0.8;*/
            z-index: 1000;
        }

        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: inherit;
            height: inherit;
            background: #494A5F;
            opacity: 0.8;
            z-index: 1010;
        }

        .zzsc-container {
            position: relative;
            z-index: 1020;
            margin: 0 auto;
            text-align: center;
            overflow: hidden;
        }

        /*.zzsc-content {*/
        /*font-size: 150%;*/
        /*padding: 1em 0;*/
        /*}*/
        #clipArea1 {
            margin: 0.2rem;
            height: 3rem;
        }

        #clipArea2 {
            margin: 0.2rem;
            height: 3rem;
        }

        #clipArea3 {
            margin: 0.2rem;
            height: 3rem;
        }

        #file,
        #clipBtn {
            /*margin: 20px;*/
        }

        /*#view {*/
        /*margin: 0 auto;*/
        /*width: 200px;*/
        /*height: 200px;*/
        /*}*/
        input {
            background: transparent;
        }
    </style>
    <link href="/css/com.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="contian-wrapper">
    <div class="contian qiugouxinagqing-contain">
        <div class="qiugouxinagqing-header top-bg">
            <div class="qiugouxinagqing-header-top top-bg">
                <i><a href="javascript:void(0)" onclick="history.go(-1)"
                      class="qiugouxinagqing-header-top-back"></a></i>
                <span id="colorTitle">编辑供应信息</span>
            </div>
        </div>
        <div class="qiugouxinagqing-body">
            <div class="qiugouxinagqing-body-top">
                <span>温馨提示：</span>
                <p>我们将根据您填写的供应品类、规格、数量免费为您寻找符合要求的求购信息进行匹配</p>
            </div>
            <div class="contian-info-body">
                <form id="form_id" action="/affirm_modify_seller_goods_info">
                    <div class="hidden">
                        <input type="text" name="tel" value="<%= modify_seller_goods.tel %>">
                        <input type="text" name="number" value="<%= modify_seller_goods.number %>">
                    </div>
                    <p id="chanpin-info-title-right-p-1" class="bianji-bg">
                        <span class="contian-info-body-title-1">供应商品：</span>
                        <input type="text" value="<%= modify_seller_goods.seller_name %>"
                               class="contian-info-body-info-1 gysp" name="gysp">
                    </p>
                    <p class="bianji-bg">
                        <!--/*-->
                        <!--蔬菜：1-->
                        <!--水果：2-->
                        <!--禽类：3-->
                        <!--水产：4-->
                        <!--其他：5-->
                        <!--*/-->
                        <span class="contian-info-body-title-1">求购类别：</span>
                        <% if(modify_seller_goods.type == 1){ %>
                        <input type="text" value="蔬菜" class="contian-info-body-info-1 qglb" name="qglb">
                        <% }else if(modify_seller_goods.type == 2){ %>
                        <input type="text" value="水果" class="contian-info-body-info-1 qglb" name="qglb">
                        <% }else if(modify_seller_goods.type == 3){ %>
                        <input type="text" value="禽类" class="contian-info-body-info-1 qglb" name="qglb">
                        <% }else if(modify_seller_goods.type == 4){ %>
                        <input type="text" value="水产" class="contian-info-body-info-1 qglb" name="qglb">
                        <% }else{ %>
                        <input type="text" value="其他" class="contian-info-body-info-1 qglb" name="qglb">
                        <% } %>

                    </p>
                    <p class="bianji-bg">
                        <span class="contian-info-body-title-1">求购单价：</span>
                        <input type="text" value="<%= modify_seller_goods.seller_price %>"
                               class="contian-info-body-info-1 qgdj" name="qgdj">
                    </p>
                    <p class="bianji-bg">
                        <span class="contian-info-body-title-1">求购数量：</span>
                        <input type="text" value="<%= modify_seller_goods.seller_weight %>"
                               class="contian-info-body-info-1 qgsl" name="qgsl">
                    </p>
                    <p class="bianji-bg">
                        <span class="contian-info-body-title-1">产地：</span>
                        <input type="text" value="<%= modify_seller_goods.seller_site.city %>"
                               class="contian-info-body-info-1 cd" name="cd">
                    </p>
                    <div class="bianji-bg bianji-des-wrapper">
                        <span class="contian-info-body-title-1 contian-info-body-title-1-desc">产品描述：</span>
                        <textarea class="qgxq-desc seller_desc" form="form_id" name="seller_desc" maxlength="120"
                                  placeholder="请对货品进行描述，如货品特色、种植情况、供货量。更详细、更精准的描述能吸引更多的供应商（不超过120字）"><%= modify_seller_goods.seller_desc %></textarea>
                        <p id="shengyu">剩余120字</p>
                    </div>
                    <div class="ajax-photoseller bianji-bg">
                        <div class="photo-1 photo">
                            <input type="file" class="photo-file file1 ">
                            <img src="<%= modify_seller_goods.pic1 %>" class="file-img-1" alt="">
                        </div>
                        <div class="photo-2 photo">
                            <input type="file" class="photo-file file2">
                            <img src="<%= modify_seller_goods.pic2 %>" class="file-img-2" alt="">
                        </div>
                        <div class="photo-3 photo">
                            <input type="file" class="photo-file file3">
                            <img src="<%= modify_seller_goods.pic3 %>" class="file-img-3" alt="">
                        </div>
                    </div>
                    <!--临时-->
                    <!--<a href="gongying-success.html">-->
                    <input type="button" id="TextArea1" class="qiugouxinagqing-tel" value="保存并发布">
                    <!--</a>-->
                </form>
            </div>
        </div>
    </div>
    <div class="upload upload1">
        <div class="zzsc-container">
            <div id="clipArea1"></div>
            <!--<input type="file" id="file">-->
            <button id="clipBtn1">上传图片</button>
            <button class="closeBtn">关闭</button>
            <!--<div id="view"></div>-->
        </div>
        <div class="bg">
        </div>
    </div>
    <div class="upload upload2">
        <div class="zzsc-container">
            <div id="clipArea2"></div>
            <!--<input type="file" id="file">-->
            <button id="clipBtn2">上传图片</button>
            <button class="closeBtn">关闭</button>
            <!--<div id="view"></div>-->
        </div>
        <div class="bg">
        </div>
    </div>
    <div class="upload upload3">
        <div class="zzsc-container">
            <div id="clipArea3"></div>
            <!--<input type="file" id="file">-->
            <button id="clipBtn3">上传图片</button>
            <button class="closeBtn">关闭</button>
            <!--<div id="view"></div>-->
        </div>
        <div class="bg">
        </div>
    </div>
</div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/iscroll-zoom.js"></script>
<script src="/js/hammer.js"></script>
<script src="/js/jquery.photoClip.js"></script>
<script src="/js/baidu.js"></script>
<script>
    //    发送数据
    //    设置字体
    $(".qgxq-desc").on("keyup", function () {
        var txtval = $('.qgxq-desc').val().length;
        console.log(txtval);
        var str = parseInt(120 - txtval);
        console.log(str);
        if (str > 0) {
            $('#shengyu').html('剩余可输入' + str + '字');
        } else {
            $('#shengyu').html('剩余可输入0字');
            $('.qgxq-desc').val($('.qgxq-desc').val().substring(0, 120));
        }
    })
    /*裁剪图片*/
    var pictData = [];
     pictData[0] ="+<%= modify_seller_goods.pic1 %>+";
     pictData[1] ="+<%= modify_seller_goods.pic2 %>+";
     pictData[2] ="+<%= modify_seller_goods.pic3 %>+";

    $("#clipArea1").photoClip({
        width: 120,
        height: 120,
        file: ".file1",
        ok: "#clipBtn1",
        loadStart: function () {
            console.log("照片读取中");
            $(".upload1").css("display", "block")
        },
        loadComplete: function () {
            console.log("照片读取完成");
        },
        clipFinish: function (dataURL) {
            /*裁剪完成 上传数据*/
            pictData[0] = "";
            pictData[0] = dataURL + "";
            $(".file-img-1").attr('src', dataURL);
        }
    });
    $("#clipArea2").photoClip({
        width: 120, //截取区域的宽度
        height: 120, //截取区域的高度
        file: ".file2",  //上传图片的<input      type="file">控件的选择器或者DOM对象
        ok: "#clipBtn2", //确认截图按钮的选择器或者DOM对象。
        loadStart: function () {  //开始加载的回调函数。this指向 fileReader 对象，并将正在加载的 file 对象作为参数传入。
            console.log("照片读取中");
            $(".upload2").css("display", "block")
        },
        loadComplete: function () {
            console.log("照片读取完成");
        },
        clipFinish: function (dataURL) {
            /*裁剪完成 上传数据*/
            pictData[1] = "";
            pictData[1] = dataURL;
            $(".file-img-2").attr('src', dataURL);
        }
    });
    $("#clipArea3").photoClip({
        width: 120, //截取区域的宽度
        height: 120, //截取区域的高度
        file: ".file3",  //上传图片的<input      type="file">控件的选择器或者DOM对象
        ok: "#clipBtn3", //确认截图按钮的选择器或者DOM对象。
        loadStart: function () {  //开始加载的回调函数。this指向 fileReader 对象，并将正在加载的 file 对象作为参数传入。
            console.log("照片读取中");
            $(".upload3").css("display", "block")
        },
        loadComplete: function () {
            console.log("照片读取完成");
        },
        clipFinish: function (dataURL) {
            /*裁剪完成 上传数据*/
            pictData[2] = "";
            pictData[2] = dataURL;
            $(".file-img-3").attr('src', dataURL);
        }
    });
    $(".closeBtn").click(function () {
        $(".upload").css("display", "none");
        console.log(pictData);
    });
    /*ajax提交数据*/
    $("#TextArea1").click(function () {
        console.log(pictData);
        var gysp = $(".gysp").val().trim();
        var qglb = $(".qglb").val().trim();
        var qgdj = $(".qgdj").val().trim();
        var qgsl = $(".qgsl").val().trim();
        var cd = $(".cd").val().trim();
        var seller_desc = $(".seller_desc").val().trim();
        /*判断不能为空*/
        if (!gysp) {
            alert("供应商品名称不能为空");
            return;
        }
        if (!qglb) {
            alert("供应商品类别不能为空");
            return;
        }
        if (!qgdj) {
            alert("供应商品单价不能为空");
            return;
        }
        if (!qgsl) {
            alert("供应商品数量不能为空");
            return;
        }
        if (!cd) {
            alert("供应商品产地不能为空");
            return;
        }
        if (!seller_desc) {
            alert("供应商品描述不能为空");
            return;
        }
        for (var i = 0; i < pictData.length; i++) {
            if (!pictData[i].trim()) {
                alert("第" + i + "张没上传图片");
                return;
            }
        }
        pictData[0]= $(".file-img-1").attr("src");
        pictData[1]= $(".file-img-2").attr("src");
        pictData[2]= $(".file-img-3").attr("src");
        var userdata = {
            tel:<%= modify_seller_goods.tel %>,
            number:<%= modify_seller_goods.number %>,
            gysp: $(".gysp").val(),
            qglb: $(".qglb").val(),
            qgdj: $(".qgdj").val(),
            qgsl: $(".qgsl").val(),
            cd: $(".cd").val(),
            seller_desc: $(".seller_desc").val(),
            pictData: pictData
        }
        $.post("/affirm_modify_seller_goods_info", userdata, function (data) {
            window.open("/open_seller_success?tel=" + data.seller_tel, "_self");
        });
    });
</script>
</html>
